header + .change-password-main {
    margin-top: 90px;
  }
  .change-password-main {
    width: 500px;
  }
  .change-password-main h2 {
    text-align: center;
    margin-bottom: 20px;
  }
  .change-password-form {
    width: 100%;
  }
  .change-password-form p{
    margin-bottom: 10px;
  }
  .change-password-form p+p{
    margin-top: 10px;
  }
  .change-password-form button {
    display: block;
    margin: auto;
    margin-top: 60px;
    border-radius: 20px;
    border: none;
    padding: 10px 30px;
    font-weight: 600;
    font-size: 18px;
    text-decoration: none;
    cursor: pointer;
    line-height: normal;
  }
  .change-password-form input[type="email"],
  .change-password-form input[type="tel"],
  .change-password-form input[type="text"],
  .change-password-form input[type="number"],
  .change-password-form input[type="password"],
  .change-password-form select,
  .change-password-form textarea {
    font-size: 20px;
    display: block;
    padding: 6px 10px;
    box-sizing: border-box;
    border-width: 1px;
    border-style: solid;
    border-radius: 4px;
    border-color: #b7bccd;
    -webkit-appearance: none;
    appearance: none;
    width: 100%;
  }
  @media (max-width: 767px) {
    .change-password-form input[type="email"],
    .change-password-form input[type="tel"],
    .change-password-form input[type="text"],
    .change-password-form input[type="number"],
    .change-password-form input[type="password"],
    .change-password-form select,
    .change-password-form textarea {
      width: 100%;
    }
  }
  
  .change-password-form .change-password-form-row{
    display: flex;
    margin-top: 10px;
    gap: 20px;
  }
  .change-password-form-row p{
    margin: 0;
    /* margin-right: 10px; */
    /* margin-left: 10px; */
    width:100%;
  }
  .change-password-form-row p+p{
    margin-top: 0;
    margin-bottom: 0;
  }