header + .create-general-election-page-main {
    margin-top: 90px;
    padding: 16px 0;
  }
  .create-general-election-page-main {
    width: 40vw;
    line-height: 1.2;
  }
  .create-general-election-page-main h2 {
    text-align: center;
    margin-bottom: 20px;
  }
  .create-general-election-form {
    width: 100%;
  }
  .create-general-election-form .create-general-election-form-row{
    display: flex;
    margin-top: 10px;
}
.create-general-election-form-row p{
    margin: 0;
    margin-right: 10px;
    margin-left: 10px;
    width:100%;
}
.create-general-election-form-row p+p{
    margin-top: 0;
    margin-bottom: 0;
  }
  .create-general-election-form-row .dropdown{
    /* appearance: auto; */
    padding: 11px;
  }
  .create-general-election-form .create-general-election-form-button{
    margin-top: 28px;
  }
  .create-general-election-form button {
    display: block;
    margin: auto;
    margin-top: 60px;
    border-radius: 20px;
    border: none;
    padding: 10px 30px;
    font-weight: 600;
    font-size: 18px;
    text-decoration: none;
    cursor: pointer;
    line-height: normal;
  }
  .create-general-election-form input[type="email"],
  .create-general-election-form input[type="tel"],
  .create-general-election-form input[type="text"],
  .create-general-election-form input[type="number"],
  .create-general-election-form input[type="password"],
  .create-general-election-form select,
  .create-general-election-form textarea {
    font-size: 20px;
    display: block;
    padding: 14px 10px;
    box-sizing: border-box;
    border-width: 1px;
    border-style: solid;
    border-radius: 4px;
    border-color: #b7bccd;
    -webkit-appearance: none;
    appearance: none;
    width: 100%;
  }
  @media (max-width: 767px) {
    .create-general-election-form input[type="email"],
    .create-general-election-form input[type="tel"],
    .create-general-election-form input[type="text"],
    .create-general-election-form input[type="number"],
    .create-general-election-form input[type="password"],
    .create-general-election-form select,
    .create-general-election-form textarea {
      width: 100%;
    }
  }
  