header + .reg-page-main {
    /* margin-top: 90px; */
    margin-top: 80px;
  }
  .reg-page-main {
    width: 500px;
  }
  .reg-page-main h2 {
    text-align: center;
    margin-bottom: 20px;
  }
  .reg-form {
    width: 100%;
  }
  .reg-form p{
    margin-bottom: 10px;
  }
  .reg-form p+p{
    margin-top: 10px;
  }
  .reg-form button {
    display: block;
    margin: auto;
    margin-top: 60px;
    border-radius: 20px;
    border: none;
    padding: 10px 30px;
    font-weight: 600;
    font-size: 18px;
    text-decoration: none;
    cursor: pointer;
    line-height: normal;
  }
  .reg-form input[type="email"],
  .reg-form input[type="tel"],
  .reg-form input[type="text"],
  .reg-form input[type="number"],
  .reg-form input[type="password"],
  .reg-form select,
  .reg-form textarea {
    font-size: 20px;
    display: block;
    padding: 6px 10px;
    box-sizing: border-box;
    border-width: 1px;
    border-style: solid;
    border-radius: 4px;
    border-color: #b7bccd;
    -webkit-appearance: none;
    appearance: none;
    width: 100%;
  }
  @media (max-width: 767px) {
    .reg-form input[type="email"],
    .reg-form input[type="tel"],
    .reg-form input[type="text"],
    .reg-form input[type="number"],
    .reg-form input[type="password"],
    .reg-form select,
    .reg-form textarea {
      width: 100%;
    }
  }

  .reg-form .reg-form-row{
    display: flex;
    margin-top: 10px;
    gap: 20px;
  }
  .reg-form-row p{
    margin: 0;
    /* margin-right: 10px; */
    /* margin-left: 10px; */
    width:100%;
  }
  .reg-form-row p+p{
    margin-top: 0;
    margin-bottom: 0;
  }
  



  
/* --------------------- OTP ------------------------------ */

.reg-page-main .container {
  background: #fff;
  padding: 30px 65px;
  border-radius: 12px;
  row-gap: 20px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  width: 500px;
  margin-top:100px;
  display: flex;
  justify-content: space-between;
}
.reg-page-main .container h2 {
  text-align: center;
  font-size: 1.5em;
  font-weight: bold;
  color: #333;
}
.reg-page-main .container h4 {
  margin-bottom: 10px;
  text-align: center;
  font-size: 1.25rem;
  color: #333;
  font-weight: 500;
}
.reg-page-main .otp-form .input-field {
  display: flex;
  flex-direction: row;
  justify-content:space-around;
}
.reg-page-main .input-field input {
  height: 45px;
  width: 42px;
  border-radius: 6px;
  outline: none;
  /* font-size: 1.125rem; */
  text-align: center;
  border: 1px solid #ddd;
}
.reg-page-main .input-field input:focus {
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
}
.reg-page-main .input-field input::-webkit-inner-spin-button,
.reg-page-main .input-field input::-webkit-outer-spin-button {
  display: none;
}
.reg-page-main .otp-form button {
  margin-top: 25px;
  width: 100%;
  color: #fff;
  font-size: 1.2rem;
  border: none;
  padding: 9px 0;
  cursor: pointer;
  border-radius: 6px;
  pointer-events: none;
  background: #6e93f7;
  transition: all 0.2s ease;
}
.reg-page-main .otp-form button.active {
  background: #4070f4;
  pointer-events: auto;
}
.reg-page-main .otp-form button:hover {
  background: #0e4bf1;
}