header + .signin-page-main {
  /* margin-top: 90px; */
  margin-top: 80px;
}
.signin-page-main {
  width: 450px;
}
.signin-page-main h2 {
  text-align: center;
  margin-bottom: 20px;
}
.signin-form {
  width: 100%;
}
.signin-form p{
  margin-bottom: 10px;
}
.signin-form p+p{
  margin-top: 10px;
}
.signin-form button {
  display: block;
  margin: auto;
  margin-top: 60px;
  border-radius: 20px;
  border: none;
  padding: 10px 30px;
  font-weight: 600;
  font-size: 18px;
  text-decoration: none;
  cursor: pointer;
  line-height: normal;
}
.signin-form input[type="email"],
.signin-form input[type="tel"],
.signin-form input[type="text"],
.signin-form input[type="number"],
.signin-form input[type="password"],
.signin-form select,
.signin-form textarea {
  font-size: 20px;
  display: block;
  padding: 6px 10px;
  box-sizing: border-box;
  border-width: 1px;
  border-style: solid;
  border-radius: 4px;
  border-color: #b7bccd;
  -webkit-appearance: none;
  appearance: none;
  width: 100%;
}
@media (max-width: 767px) {
  .signin-form input[type="email"],
  .signin-form input[type="tel"],
  .signin-form input[type="text"],
  .signin-form input[type="number"],
  .signin-form input[type="password"],
  .signin-form select,
  .signin-form textarea {
    width: 100%;
  }
}

.signin-form .signin-form-row{
  display: flex;
  margin-top: 10px;
  gap: 20px;
}
.signin-form-row p{
  margin: 0;
  /* margin-right: 10px; */
  /* margin-left: 10px; */
  width:100%;
}
.signin-form-row p+p{
  margin-top: 0;
  margin-bottom: 0;
}
