.createpollpage-div .container {
  border: 1px dotted black;
}
.createpollpage-wrapper {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
}
.createpollpage-wrapper button:hover {
  transform: scale(1.1);
}

.createpollpage-wrapper .navbar {
  background-color: #242ce5;
}

.createpollpage-cont {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}
.createpollpage-div {
  display: flex;
  height: 100%;
  margin-top: 10vh;
  margin-bottom: 10vh;
  justify-content: space-evenly;
}

/* Poll Name */
.poll-name-row {
  display: flex;
  flex-direction: column;
}
.poll-name-row div {
  width: 100%;
  padding: 0;
  display: flex;
  font-size: 3vh;
  font-weight: bold;
}
.poll-name-row label {
  font-size: 3.5vh;
  margin-top: auto;
  margin-bottom: auto;
  align-self: center;
  color: #000000;
  min-width: fit-content;
}
.poll-name-row input {
  margin-top: auto;
  margin-bottom: auto;
  margin-right: 0;
  width: -webkit-fill-available;
  margin-left: 5px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 1.5rem;
  padding-right: 10px;
  background: rgba(36, 44, 230, 0.1);
  border: none;
  border-radius: 5px;
}
.createpollpage-wrapper input:placeholder-shown {
  font-style: italic;
}

.createpollpage-div .r2 button {
  width: 40%;
  height: 5vh;
  border: none;
  background-color: #242ce5;
  color: white;
  /* font-size: 3vh; */
  font-variant: unicase;
  font-family: "Franklin Gothic Medium";
  border-radius: 3px;
}

.createpollpage-div .r2 {
  flex-direction: column;
}
/* MEDIA QUERY */
@media (max-width: 768px) {
  .createpollpage-div {
    flex-direction: column;
    margin-top: auto;
    margin-bottom: auto;
    padding-top: 1vh;
    padding-bottom: 1vh;
  }
  .createpollpage-div .r1 {
    flex-direction: column;
    justify-content: space-between;
    row-gap: 5vh;
  }
  .poll-name-row div {
    font-size: 3vw;
  }
  .poll-image-row {
    width: 0;
    height: 0;
    visibility: hidden;
  }
  .poll-users-row .nav-tabs {
    font-size: 3vw;
  }
  .poll-name-row label {
    font-size: 3.5vw;
  }
  .poll-users-tab-col {
    font-size: 3vw;
  }

  .poll-users-tab-col button img {
    width: 3vw;
    height: auto;
  }
  .createpollpage-div .r2 button {
    width: 100%;
    /* font-size: 2.5vw; */
  }
}
@media (min-width: 769px) {
  .poll-name-row {
    height: 10vh;
  }
  .createpollpage-div .r1 {
    width: 55%;
    flex-direction: column;
    justify-content: space-between;
  }
  .createpollpage-div .r2 {
    width: 35%;
  }
}
