.resultspage-wrapper {
  height: 100%;
}
.resultspage-wrapper .navbar .right-col{
  background-color: #311649;
}
.resultspage-wrapper .container{
  padding-top: 1vh;
  padding-bottom: 1vh;
}
.resultspage-wrapper .Col{
  padding-top: calc(var(--bs-gutter-x) * .5);
  padding-bottom: calc(var(--bs-gutter-x) * .5);
}
.resultspage-wrapper .poll-btn{
  background-color: #e0e2e9;
}


.resultspage-wrapper .search-bar {
  margin-left: 100px;
  margin-top: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.resultspage-wrapper .search-bar input {
  width: 40vh;
  height: 5vh;
  font-size: 1.5rem;
  border: solid 0.1px;
  border-radius: 0.5rem;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.2s ease-in-out;
}

.resultspage-wrapper .search-bar input:focus {
  outline: none;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.2);
}

.searchBtn{
  height: 5vh;
  width: 8vh;
  font-size: 1.5vh;
}