.pollpage-wrapper {
  width: 100vw;
  height: 100vh;
}
.pollpage-wrapper .navbar .right-col{
  background-color: #311649;
}

.canditems-cont .cand-list {
  height: -webkit-fill-available;
  width: -webkit-fill-available;
  margin-top: 15px;
  border: 1px solid black;
  border-radius: 3px;
  padding: 1px;
  overflow-y: auto;
  overflow-x: hidden;
}
.canditems-cont .cand-list ul{
  padding: 0;
}
.canditems-cont .cand-item {
  display: flex;
  justify-content: space-between;
  background: #d9d9d9;
  border: none;
  border-bottom: 1px solid black;
  border-radius: 3px;
}


.canditems-cont {
  margin-top: 1vh;
  height: 70vh; 
}
.canditems-cont button:hover{
    transform: scale(1.02);
}
.canditems-cont .cand-list .cand-item {
  padding: 2%;
  padding-left: 5%;
  padding-right: 5%;
  background-color: #dad5de;
}
.canditems-cont .cand-list .cand-item input {
  width: 5vh;
  height: auto;
}
.canditems-cont .cand-list .cand-item h3 {
  font-size: 3vh;
  font-weight: bold;
  font-family: "Franklin Gothic Medium";
}
.canditems-cont-title h2{
    text-align: center;
    font-size: 4vh;
    font-weight: bold;
}
.canditem-row {
  display: flex;
  justify-content: space-evenly;
  margin: 1%;
}
.canditem-row div {
  width: 90%;
  height: auto;
  margin: auto;
}
.cand-item div{
  width: auto;
}
.canditem-row input {
  width: 5%;
  height: auto;
  margin: auto;
}

.canditems-cont button {
  width: 100%;
  height: 40px;
  margin-top: 2vh;
  border: none;
  background-color: #39be2a;
  color: white;
  font-size: 2vw;
  font-variant: unicase;
  font-family: "Franklin Gothic Medium";
  font-weight: 900;
  border-radius: 3px;
}


/* MEDIA QUERY */
@media (max-width: 768px) {
  .canditems-cont button {
    font-size: 3vw;
  }
}