.navbar{
    padding: 0;
    background-color:blue;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.create_poll{
    color: aliceblue;
    font-size: 26px;
    padding-left: 30px;
    font-style: normal;
    margin-top: 10px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.poll_name{
    margin-left: 60px;
    margin-top: 80px;
}
.poll_name label{
    font-weight: bold;
}
._lst{
    margin-left: 60px;
    margin-top: 80px;
    font-weight: bold;
}
.pollname{
    width: 300px;
    height: 40px;
    background:lightgray;
    border: none;
    border-radius: 10px;
}

.candidate_list{
    width: 420px;
    /* height: 60px; */
    margin-left: 60px;
    margin-bottom: 10px;
    background: #FFFFFF;
    border: 1px solid #311649;
    border-radius: 10px;
}
.candidate_list input{
    width: 250px;
    height: 40px;
    margin-top: 10px;
    /* padding-bottom: 10px; */
    background:lightgray;
    border: none;
    border-radius: 10px;
}
.candidate_list img{
    /* padding-bottom: 5px; */
    height: 40px;
    width: 45px;
    border-radius: 10px;
}