.reg-page{
    transform: translateX(30px);
    margin-top: 1%;

    background: #FFFFFF;
    border: 1px solid #1B1E6C;
    border-radius: 20px;
    font-family: 'Roboto';

}
.reg-page .reg-panel{
    width: 100%;
    height: 411px;
    padding: 2%;
}
.reg-panel .input-field{
    padding-left: 1%;
    padding-right: 1%;

    margin-top: 10%;
    margin-bottom: 10%;
}
.reg-panel .input-field label{
    color: #242CE5;
    font-family: 'Roboto';
font-style: normal;
font-weight: 600;
font-size: 15px;
}
.reg-panel .input-field input{
    font-size: 24px;
    padding: 3%;
    width: 100%;
    height: 40px;
    background: #D9D9D9;
    border: none;
border-radius: 10px;
}

.reg-panel .reg-page .title{
    margin-top: 10%;
    font-weight: 600;
    font-size: 28px;
    line-height: 47px;
    text-decoration: underline;
    
    align-items: center;
    text-align: center;
    font-variant: small-caps;

color: #242CE5;

clear: both;
display: inline-block;
overflow: hidden;
white-space: nowrap;

}
.reg-panel .enter-field{
    height: 48px;
    margin-top: 20%;
    padding-right: 25%;
    padding-left: 25%;
    transform: translateY(10px);

}
.reg-panel .enter-btn{
    color:white;
    background: #1B1E6C;
border-radius: 45px;
border: none;
}