.electionspage-wrapper {
  height: 100%;
}
.electionspage-wrapper .navbar .right-col{
  background-color: #311649;
}
.electionspage-wrapper .container{
  padding-top: 1vh;
  padding-bottom: 1vh;
}
.electionspage-wrapper .Col{
  padding-top: calc(var(--bs-gutter-x) * .5);
  padding-bottom: calc(var(--bs-gutter-x) * .5);
}
.electionspage-wrapper .poll-btn{
  background-color: #e0e2e9;
}

.suggestions-list li{
  height: 4vh;
  font-family: 'Courier New', Courier, monospace;
  font-size: 2.5vh;
  margin-left: 36%;
  list-style: none;
  border:solid 0.01px #311649;
  border-radius: 1vh;
  width: 250px;

}

.suggestions-list li:hover{
  cursor: pointer;
  border:solid 2px #311649;
}

.search-bar {
  margin-top: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-bar input {
  /* padding-left: 10px; */
  width: 40vh;
  height: 5vh;
  font-size: 1.5rem;
  /* padding: 0.5rem 1rem; */
  border: solid 0.1px;
  border-radius: 0.5rem;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.2s ease-in-out;
}

.search-bar input:focus {
  outline: none;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.2);
}

.searchBtn{
  height: 5vh;
  width: 8vh;
  font-size: 1.5vh;
}
