.electionspage-wrapper {
  height: 100%;
}
.electionspage-wrapper .navbar .right-col{
  background-color: #311649;
}
.electionspage-wrapper .container{
  padding-top: 1vh;
  padding-bottom: 1vh;
}
.electionspage-wrapper .Col{
  padding-top: calc(var(--bs-gutter-x) * .5);
  padding-bottom: calc(var(--bs-gutter-x) * .5);
}
.electionspage-wrapper .poll-btn{
  background-color: #8edab3;
}