/* .Container {
    border:1px solid white;
    display: grid;
}

.Row {
    border:1px solid white;
    display: flex;
}

.Col {
    border:1px solid white;
    margin-bottom: 15px;
    display: flex;
}

.Test{
    background-color:teal;
    margin-top: 25px;
    padding: 10%;
}

.album {
    text-align: center;
    padding:15px;
    background-color:teal;
    background-color:yellowgreen;
    border-radius: 5px;
} */