.landing-wrapper{
    padding: 1%;
    height: 100vh;
    background-image: url("../../images/background-ovals-2.png");
    background-size: cover;
}
.landing-cont{
    display: flex;
    flex-direction: column;
    height: 100%;
}
.landing-header img{
    position: relative;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    width: 100%;
    max-width: 64px;
    min-width: 64px;
    height: auto;
    filter: drop-shadow(2px 2px 7px black);
}

.landing-header h2{
    text-align: center;
    color: #ffffff;
    text-shadow: 2px 2px 7px black;
    font-size: 4vw;
}

.landing-body{
    justify-content: space-evenly;
}
.landing-body img{
    padding-left: 5%;
    padding-right: 5%;
    width: 100%;
    height: auto;
    filter: drop-shadow(5px -3px 7px black);
}
.signin-btn{
    font-weight: bold;
    font-variant: unicase;
    color: white;
    font-size: 2vh;
    width: 100%;
    min-width: 150px;
    max-width: 240px;
    height: 100%;
    min-height: 40px;
    border-color: #160b1e;
    background: #311649;
    border-radius: 45px;
}
.signin-btn:hover{
    transform:scaleX(1.02);
}
.register-btn{
    font-weight: bold;
    font-variant: unicase;
    font-size: 2vh;
    color: #1e228f;
    width: 100%;
    min-width: 150px;
    max-width: 240px;
    height: 100%;
    min-height: 40px;
    border-color: #131661;
    background: #ffffff;
    border-radius: 45px;   
}
.register-btn:hover{
    transform:scaleX(1.02);
}
.align-middle{
    position: relative;
    /* transform: translate(-50%, -50%); */
    translate: -50% -50%;
    top: 50%;
    left: 50%;
}