.landing-wrapper{
    padding: 1%;
    height: 100vh;
    width: 100vw;
    background-image: url("../../images/background-ovals-3.png");
    background-size: cover;
}
.landing-wrapper .container-fluid{
    border: 1px dotted black;
}
.landing-wrapper .container-fluid .row{
    border: 1px dotted rgb(208, 255, 0);
}
.landing-cont{
    display: flex;
    flex-direction: column;
    height: 100%;
}
.landing-header img{
    position: relative;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    width: 100%;
    max-width: 64px;
    min-width: 64px;
    height: auto;
    filter: drop-shadow(2px 2px 7px black);
}

.landing-header h2{
    text-align:start;
    color: #ffffff;
    text-shadow: 2px 2px 10px black;
    font-size: 3vw;
}

.landing-body{
    justify-content: space-evenly;
}
.landing-body .middle-img{
    padding-left: 7%;
    padding-right: 7%;
    width: 100%;
    height: auto;
    filter: drop-shadow(5px -3px 7px black);
}


.landing-btns{
    width: 100%;
    min-width: 150px;
    max-width: 240px;
    height: 100%;
    min-height: 40px;
    font-weight: bold;
    font-variant: unicase;
    font-size: 2.2vh;
    border-radius: 45px;
}
.signin-btn{
    color: white;
    border-color: #160b1e;
    background: #311649;
}
.landing-btns:hover{
    transform:scaleX(1.02);
}
.register-btn{
    color: #1e228f;
    border-color: #131661;
    background: #ffffff;  
}

.align-middle{
    position: relative;
    translate: -50% -50%;
    top: 50%;
    left: 50%;
}


/* MEDIA QUERY */
@media (max-width: 768px) {
    .landing-header{
        margin-bottom: 20px;
    }
    .landing-header h2{
        text-align:center;
        font-size: 4vw;
    }
    
    .landing-bottom{
        display: flex;
        flex-direction: column;
        gap: 5px;
    }
}