/* NAV-BAR CSS */
.navbar {
  width: 100%;
  height: 50px;
  min-height: 50px;
  top: 0px;
  z-index: 1020;
  padding: 0;
  position: sticky;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 3vh;
  color: white;
  background: #311649;

}
.navbar .row {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

.navbar h3{
  margin: auto;
}

/* LEFT COLUMN */
.left-col img {
  height: 26px;
  width: 26px;
  filter: drop-shadow(2px 2px 7px black);
}

/* RIGHT COLUMN */
.right-col {
  background: #242ce5;
  border-radius: 180px 0px 0px 180px;
}
.right-col .row {
  flex-direction: row-reverse;
  padding-right: 0.5em;
}
.right-col img {
  height: 20px;
  width: 20px;
  filter: drop-shadow(1px 1px 3px black);
}
.right-col h3 {
  text-align: end;
  font-size: xx-small;
  font-family: sans-serif;
  margin-top: 7px;
}

/* MEDIA QUERY */
@media (max-width: 768px) {
  .navbar .left-col .row{
    column-gap: 1em;
  }
}