.resultpage-wrapper .navbar {
    background-color: #311649;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    overflow: hidden;
}
  

  .result-cont{
    margin-top: 13vh;
  }